@CHARSET "UTF-8";
.wo-go-top {
       opacity: 0.9;
	z-index: 999999;
	position: fixed;
	bottom: 113px;
	left: 90%;
	margin-left: 40px;
	border: 1px solid #4C9ED9;
	width: 38px;
	height: 38px;
	background-color: #FAFAFA;
	border-radius: 3px;
	cursor: pointer;
}

.wo-go-top:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.wo-go-top .wo-arrow {
    position: absolute;
	left: 10px;
	top: -1px;
	width: 0px;
	height: 0px;
	border-width: 9px;
	border-style: solid;
	border-color: transparent transparent #4C9ED9;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}

.wo-go-top .wo-stick {
       position: absolute;
	left: 15px;
	top: 15px;
	width: 8px;
	height: 14px;
	display: block;
	border-radius: 1px;
	background-color: #4C9ED9;
}