.side-right .blog-info .list-group-item{
	border: 0px none;
	border-bottom: 1px dashed #D9D9D9;
	padding-bottom: 15px;
}
.side-right .blog-info .list-group-item-text{
	line-height: 22px;
}


.side-right .more-info {
	font-size: 14px;
	line-height: 28px;
}

.side-right .more-info .eye{
	background: url(../images/eye.jpg) no-repeat;padding:0px 5px 0px 25px
}

.side-right .blog-info a.list-group-item:hover{
	background-color: #FFF;
}

.side-right .list-group-item-heading{
	display: inherit;
	color: #3F3F3F;
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
}

.side-left{
    border-left: 1px solid #CCC;
    overflow: hidden;
  }

   .side-left ul li{
    list-style-type: none;
    margin: 6px 0px;
  }
 .side-left li{
    line-height: 20px;
  }